{{> /layout/header}}
<div class="container p-5">
    <!-- 수정삭제버튼 -->
    {{#pageOwner}}
    <div class="mb-5 d-flex justify-content-end">
        <button class="btn btn-warning me-1">수정</button>
        <form action="/board/{{board.id}}/delete" method="post">
            <button type="submit" class="btn btn-danger">삭제</button>
        </form>
    </div>
    {{/pageOwner}}
    <!-- 게시글내용 -->
    {{#board}}
    <div>
        <h2><b>{{title}}</b></h2>
        <hr />
        <div class="m-4 p-2">
            {{content}}
        </div>
    </div>
    {{/board}}
    <!-- 댓글 -->
    <div class="card mt-3"></div>
</div>
{{> /layout/footer}}