{{> /layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>회원가입을 해주세요</b></div>
        <div class="card-body">
            <form action="/join" method="post" enctype="application/x-www-form-urlencoded">
                <div class="mb-3 mt-3">
                    <input type="text" id="username" class="form-control" placeholder="Enter username" name="username"
                        required maxlength="20">
                    <button type="button" onclick="check()">중복체크</button>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Enter password" name="password" required
                        maxlength="20">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Enter email" name="email" required
                        maxlength="20">
                </div>
                <button type="submit" class="btn btn-primary form-control">회원가입</button>
            </form>
        </div>
    </div>
</div>
<script>
    async function check() {
        //1.DOM으로부터 값 가져오기
        let username = document.querySelector("#username").value;
        console.log("유저네임", username);
        //2.통신하기
        let response = await fetch(`/check?username=${username}`);
        //3.파싱하기
        let responseBody = await response.text();
        console.log(response);

        //4.상태코드확인
        if (response.status == 200) {
            alert(responseBody);
        } else {
            alert(responseBody);
        }
        //5.비즈니스로직
        btnJoin.classList.add("disabled");
    }
</script>

{{> /layout/footer}}